# Server Configuration
PORT=4000

# Database
DATABASE_URL="postgresql://username:password@localhost:5432/database_name"

# JWT Secret Key 예시 - 실제 배포시 변경예정
JWT_SECRET=a8f5f167f44f4964e6c998dee827110c03a89c4f0f1c7e7c8d6e5f4a3b2c1d0e9f8a7b6c5d4e3f2g1h0i9j8k7l6m5n4o3p2q1r0s

# Node Environment
NODE_ENV=production
